.activityTitle{
  width: 100%;
  margin: auto;
  padding: 1em;
  background-color: rgb(50, 50, 50);
  overflow: hidden;
}
.activityHome{
  text-decoration: none;
  float: left;
  width: 10%;
}
.activityHome span img{
  width: 35px;
}
.activityHome span img:hover{
  opacity: 0.5;
}
.activitySubtitle{
  font-size:2em;
  color: var(--primary);
  text-align: center;
  display: block;
  width: 90%;
  float: left;
}
h3{
  color: var(--primary);
}
.activityP{
  width: 90%;
  margin: 1em auto;
}
.navActivity{
  width: 100%;
  margin: 5em 0%;
  text-align: center;
  display: inline-block;
  background-color: var(--secondary);
}
.navActivity a{
  color:whitesmoke;
  display: block;
  float: left;
  padding: 1em 3.5%;
}
.navActivity a:hover{
  color: var(--primary);
  background-color: whitesmoke;
}
.footer{
  text-align: center;
  padding-top: 2em;
  font-size: 0.8em;
}
.activityVideo{
  width: 50%;
  margin: 1em auto;
  box-shadow: 2px 2px 5px black;
}
.activityVideo video{
  width: 100%;
  height: 100%;
}
/* download link */
.download{
    background-color: var(--primaryDark);
    color: whitesmoke;
    display: inline-block;
    padding: 0.5em 2em;
    border-radius: 5px;
    margin: 3em 0em;
}
.download:hover{
    background-color: darkslategrey;
    box-shadow: 0px 0px 5px 1px darkslategray;
}
/* ---- tables ----- */
.table_activity{
  background-color: rgb(252, 252, 252);
  width: 80%;
  margin: 3% auto;
}
.table_title{text-align: center; height: 2em; background-color: rgb(230, 230, 230); font-size: 1.1em;}
.table_subtitle{ text-align: center; font-weight: bold; background-color: rgb(240, 240, 240);
}
td{padding: 0.5em; border: dotted lightgray 1px;}
td:nth-child(2){
  text-align: center;
}
/* --- winners --*/
.winners_projects{
  width: 100%;
  height: auto;
  margin: 0.5em auto 2em auto;
}
.title_winners_project{
  width: 100%;
  padding: 0.5em 1em;
  font-size: 1.5em;
  font-weight: 600;
  color: var(--primaryColor);
}
.title_winners_project img{
  width: 15%;
  margin-right: 1em;
  float: left;
  transform: rotate(-20deg);
}
.project_winners{
  width: 100%;
  height: 70%;
  margin-top: 2em;
}
.winner{
  width:30%;
  margin: auto;
}
.winner video{
  width: 100%;
}
.winner p{
  text-align: center;
  color: var(--primaryColor);
  font-weight: 600;
}
/*
------------- SMALL AND TABLET SCREEN ---------------
*/
@media only screen and (max-width: 850px) {
  .activitySubtitle{
    font-size:1.2em;
    padding: 0.5em;
  }
  .activityHome span img{
    width: 30px;
  }
  .winner{
    width:60%;
  }
  .title_winners_project{
    font-size: 1.1em;
  }
  .navActivity{
    font-size: 0.8em;
  }
  .navActivity a{width: 100%; 
    padding: 0.7em; 
  }
}
/*
------------- SMALL AND SMARTPHONE SCREEN ---------------
*/
@media only screen and (max-width: 500px) {
  .activitySubtitle{
    font-size:1.1em;
  }
  .navActivity{
    font-size: 0.6em;
  }
  .winner{
    width:90%;
  }
}
