/* -- NAV COLLAPSIBLE --*/
.containerCollapsibleNav{
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.95;
  display: none;
  overflow: hidden;
}
.collapsible{
  width: 99%;
  background-color: var(--secondaryDark);
  height: 5em;
  border: none;
}
.imageCollapsible{
  width: 8%;
  float:left;
  font-weight: 600;
  color: var(--primary);
}
.collapsibleTitle{
  width: 92%;
  float: left;
  font-size: 2em;
  font-family: LCD5x8H;
  color: var(--primary);
  text-align: center;
  font-weight: 600;
  padding: 0.2em;
  text-shadow: 1px 1px 2px lightgray;
}
.imageCollapsible span{
  font-size: 2em;
}
.collapsibleNav{
  height: 10em;
  display: none;
}
/*-- TITLE --*/
.introP{
  color:var(--secondaryLight);
  width: 80%;
  margin-top: 50%;
  margin-left: 10%;
}
.introP i{
  font-size: 0.7em;
}
.title{
  font-size: 2.7em;
  font-family: LCD5x8H;
  color: var(--primary);
  text-align: center;
  font-weight: 600;
  position: absolute;
  text-shadow: 1px 1px 2px lightgray;
}
.ani1{
    left: 5%;
    top: 20%;
    text-align: right;
    animation: title1 3s forwards;
}
.ani2{
    top:20%;
    right: 5%;
    text-align: left;
    animation: title2 3s forwards;
}
@keyframes title1 {
  0%{opacity: 0;top:0; transform: scale(0);text-shadow: 0px 0px 0px white;}
  20%{opacity: 0.5;top:100px; transform: scale(1.5); text-shadow: 0px 0px 0px var(--secondaryLight);}
  40%{opacity: 0;top:2000px; transform: scale(0);text-shadow: 0px 0px 0px var(--secondaryLight);}
  60%{opacity: 0.5;top:50px; transform: scale(1.5);text-shadow: -20px -20px 5px var(--secondaryLight);}
  80%{opacity: 1;top:200px; transform: scale(0.8);text-shadow: 15px 15px 5px var(--secondaryLight);}
  100%{opacity: 1;top:200px; transform: scale(1);text-shadow: -2px -2px 5px white;}
}
@keyframes title2 {
  0%{opacity: 0;top:2000px; transform: scale(0);text-shadow: 0px 0px 0px var(--secondaryLight);}
  20%{opacity: 0.5;top:500px; transform: scale(1.5); text-shadow: 0px 0px 0px var(--secondaryLight);}
  40%{opacity: 0;top:-200px; transform: scale(0);text-shadow: 0px 0px 0px var(--secondaryLight);}
  60%{opacity: 0.5;top:800px; transform: scale(1.5);text-shadow: -20px -20px 5px var(--secondaryLight);}
  80%{opacity: 1;top:200px; transform: scale(0.8);text-shadow: 15px 15px 5px var(--secondaryLight);}
  100%{opacity: 1;top:200px; transform: scale(1);text-shadow: -2px -2px 5px white;}
}
/*-- INTRO IMAGE --*/
figure{
  width: 800px;
  height: 500px;
  margin: 0% auto;
  border-radius: 0.1em
}
.introImage{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left top, rgba(0,0,0,0.9), rgba(0,0,0,0.5)), url('../images/smartphone.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 20px;
  box-shadow: 3px 3px 10px black;
  overflow: hidden;
}
/* --- navigation tabs ---*/
.navTab{
  width: 90%;
  margin: 30px auto 0px auto;
  font-size: 1.2em;
  text-align: center;
  font-weight: 600;
  position: sticky;
  opacity: 0.9;
  top: 0;
}
nav a{
    float: left;
    display: block;
    color: var(--primaryDark);
    width: 25%;
    height: 100%;
    text-align: center;
    background-color: var(--secondaryLight);
    padding: 1em;
}
.active, nav a:hover{
  background-color: var(--primaryDark);
  color: var(--secondaryLight);
}

/*--- text container --*/
.txtContainer{
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 20px;
}
dt, dd b{color: var(--primaryDark);}

/* --- CHAPTERS ---*/
.subtitle{
  width: 90%;
  padding: 3em 0em 0em 1em;
  margin: 0em auto;
  color: var(--secondaryDark);font-stretch:ultra-expanded; font-weight: 600;}
.subtitle:nth-of-type(1){
  background-color: var(--primaryLight);
}
.chapters{
  width: 90%;
  height: auto;
  margin: 0em 5%;
  background-color: var(--primaryLight);
  padding: 1em 0em;
  display: inline-block;
}
/* chapter-cards --*/
.card, .cardActivity, .cardProject{
  margin-bottom: 5em;
  box-shadow: 0px 0px 5px 1px black;
  float: left;
  border-radius: 0.5em;
}
.card{width: 30.5%;  margin-left: 2%;}
.cardImg img{
  width: 50%;
  margin: 5% 25%;
}
.cardBody, .cardFooter,.cardBodyActivity{
  background-color: white;
  padding: 0.5em;
  font-size: 0.9em;
}
.cardBody{
  height: 25em;
}
.cardBody h3, .cardBodyActivity h3{
  color:var(--secondary);
}
.cardBody a{
  display: block;
  font-size: 0.85em;
  margin-bottom: 0.3em;
}
.cardBody a:first-of-type{
  margin-top: 2em;
}
.cardFooter{
  border-top:  ridge 1px lightgray;
}
/* -- ACTIVITY--*/
.subtitle:nth-of-type(2){
    background-color: var(--primary);
    margin-top: -0.5em;
}
.cardActivity{
  width: 23.5%;
  margin-left:  1.2%;
  font-size: 0.9em;
}
.activity, .project{
  width: 90%;
  height: auto;
  margin: 0em 5%;
  padding: 1em 0em;
  display: inline-block;
}
.activity{
  background-color: var(--primary);
}
.openActivity{
  background-color: var(--secondary);
  color: var(--primaryLight);
  border: none;
  width: 95%;
  padding: 0.1em 1em;
  text-align: center;
  display: block;
}
.activityImg{
  background-color: white;
  padding: 0.5em;
  color: var(--secondary);
  text-align: center;
  height: 25em;
  border-radius: 0.5em  0.5em 0em 0em;
}
.cardBodyActivity a{
  display: block;
  padding: 1em;
  background-color: var(--primary);
  border: ridge 1px white;
  color: var(--primaryVeryLight);
  text-decoration: none;
}
.cardBodyActivity a:hover{
  background-color: var(--primaryDark);
  text-decoration: underline;
}
.cardBodyActivity{
  height: 25em;
}
/* -- card project --*/
.project{
    background-color: var(--primaryDark);
}
.cardProject{
  width: 30%;
  margin-left:  2.5%;
  font-size: 0.9em;
}
.projectImg{
  height: 40em;
  background-color: white;
  padding: 1em;
  border-radius: 0.5em  0.5em 0em 0em;
  overflow: hidden;
}
.projectImg h3{
  color: var(--secondary);
}
#projects{
  background-color: var(--primaryDark);
  color:var(--secondaryLight);
  margin-top: -0.5em;
}
/* ---MODAL WINDOWS ---*/
/* open modal window button */
.btnOpenModal, .cardFooter a{
  background-color: var(--secondary);
  color: var(--primaryLight);
  padding: 0.5em;
  border: none;
  width: 100%;
}
.btnOpenModal:hover, .cardFooter a:hover{
  background-color: var(--primaryDark);
  color: var(--secondaryLight);
  padding: 0.5em;
  border: none;
  width: 100%;
  cursor:pointer;
}
/* The Modal (background) */
.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 80%;
}
.modalHeader{
  border-bottom: solid 1px var(--secondaryLight);
  height: 3em;
}
.modal-content h3{
  color: var(--primary);
}
/* The Close Button */
.close {
  color: var(--secondaryLight);
  font-size: 1.5em;
  font-weight: bold;
  float: right;
}
.close:hover, .close:focus {
  color:var(--primaryDark);
  text-decoration: none;
  cursor: pointer;
}
.closeLink{
  background-color: var(--secondaryDark);
  padding: 0.5em;
  text-align: center;
  width: 25%;
  border-radius: 1em;
  color: var(--primaryLight);
}
.closeLink:hover{
  background-color: var(--primaryDark);
  color: var(--secondaryLight);
}
@keyframes fadeinModalWindow {
  0%{opacity: 0;}
  100%{opacity:1;}
}
@keyframes slideCollapsibleNav {
  0%{transform: translateX(-300px);}
  100%{transform: translateX(0px);}
}
/*--  FOOTER --*/
/* --- credits -------*/
.credits{
  width: 90%;
  margin:auto;
  margin-top: -0.5em;
  background-color: rgb(90,0,0);
  padding: 100px 20px 100px 20px;
  color: white;
  height: auto;
}
.copyrighted{
  width: 100%;
  height: 50px;
}
.credits img{
  width: 160px;
  height: 50px;
  float: left;
  margin-right: 30px;
}
.credits a{
  color: white;
}
.credits h6{
  text-align: center;
}
.imgActivity{
	width:95%;
}
.imgActivity img{
	width:100%;
	height:100%;
	margin:2%
}
/*---------- LARGE SCREEN ---------*/
@media only screen and (max-width: 1350px) {
  .navTab{
    font-size: 0.9em;
  }
  .cardBody{
    height: 27em;
  }
}
/*---------- MEDIUM-LARGE SCREEN ---------*/
@media only screen and (max-width: 1100px)  {
  .containerCollapsibleNav{
    display: block;
  }
  .nav_tabs{
    width: 100%;
    text-decoration: none;
    border-bottom: 1px var(--secondary) solid;
  }
  .title{
    display: none;
  }
  .introP{
    width: 90%;
    margin-left: 5%;
    margin-top: 50%;
  }
  .introImage{
    width: 550px;
    height:auto;
    margin: auto;
    padding-bottom: 0em;
    border-radius: 0.5em;
  }
  figure{
    height: 380px;
    width: 100%;
    margin: auto;
    margin-top: 5em;
  }
  .txtContainer{
    padding-top: 2em;
    margin: auto;
  }
  .card,.cardProject{
    width: 43%;
    margin: 2% 0% 2% 5%;
  }
  .navTab{
    display: none;
  }
  .cardActivity{
    width: 30%;
    margin: 1% 0% 2% 2.5%;
  }
  .projectImg{
    height: 40em;
  }
}
/*---------- MEDIUM SCREEN ---------*/
@media only screen and (max-width: 800px) {
  figure{height: 300px;}
  .introImage{
    width: 450px;
    height: 300px;
  }
  .card,.cardProject{
    width: 80%;
    margin: 2% 0% 5% 10%;
  }
  .cardActivity{
    width: 45%;
    margin: 1% 0% 2% 2.5%;
  }
  .cardImg{
    height: 26em;
  }
  .projectImg,.cardBody{
    height: auto;
  }
  .card,.cardProject{
    width: 90%;
    margin: 2% 0% 5% 5%;
  }
}
/*---------- SMALL SCREEN ---------*/
@media only screen and (max-width: 600px) {
  .collapsibleTitle{
    width: 85%;
  }
  figure{
    width: 90%;
  }
  .introImage{
    width: 100%;
    padding: 0%;
    margin: 0%;
    height: auto;
  }
  .txtContainer{
    width: 100%;
    margin: 0%;
    padding: 1em;
  }
  .subtitle{
    width: 100%;
  }
  .chapters,.activity, .project,.credits{
    width: 100%;
    margin: 0%;
  }
  .credits{
    margin-top: -2em;
  }
  .cardActivity{
    width: 90%;
    margin: 1% 0% 5% 5%;
  }
  .cardImg{
    height: auto;
  }
}
/*---------- X-SMALL SCREEN ---------*/
@media only screen and (max-width: 400px) {
}
